In [ ]:
## -- Data Analysis with Python

- Data Analytics (DA): DA is a process of Inspecting, Cleaning, Transforming and Modeling Data

In [ ]:
Collected by data engineers.

In [ ]:
all the collected data is QUALITY DATA

In [ ]:
Numpy: (library) numerical computation + handling multidimensional arrays   [foundational library]
                                                                    - Numpy array
                                                                    - ND arrays

Pandas: Offers different data structures like Series for manipulation, like DataFrames (DF) and analysis

Matplotlib: Plotting Library for creating Static, Animated and Interactive visualizations in Python.

Scikit-learn: ML Library > provides you with some [efficient + simple] tools for data mining and analysis

TensorFlow and PyTorch: Building & Training Neural Networks and Deep Learning Models

Flask & Django: Web Development frameworks for building applications in Python. (UI)

In [ ]:
Deep Learning > Machine Learning >> Artificial Intelligence 

-- AI : Decision Making (Human Intelligence)
        The machine mimics a human
        How we gain intelligence>> help of knowledge + experience
                                                |
                                                |
                                                | 
                                              LEARN
                                  (connect to Machine Learning)

-- ML : How we learn? -->> Someone Teaches Us : In the presence of a supervisor, thats why its call Supervised Learnig
                          Self Learning : Unsupervised Learning
                          Experience : Reinforcement Learning

-- DL : Mapping how the human brain works into a machine
                    > Neural Network

In [ ]:
AI Domains: 
            1. Computer Vison : How we See?  {like visualise} :: As like -- Images & Videos
            2. Statistical Data : How we conclude based on past records / results :: As like -- Records Tabular Form
            3. Natural Language Processing : How we process languages :: As like -- Audio & written Text

In [5]:
#Install Python Libraries:
 #Comand: pip install xxxx / xxxxx (name of the libary or libraries.  // can install multiple libraries at once.
       # "pip means 'package installer'
import numpy

In [22]:
import pandas
print(pandas.__version__)

2.2.2

In [7]:
import pandas

In [8]:
print(pandas.__version__)

2.2.2

In [10]:
import numpy as np #numpy as [aliasing] np
import pandas as pd #pandas as [aliasing] pd

In [16]:
import numpy as np
print(np.__version__)

1.26.4

In [15]:
import pandas as pd
print(pd.__version__)

2.2.2

In [20]:
!!-- Creating s simple 1D np.array()
array= np.array([1,2,3,4,5,6,7,8])
print (array)

[1 2 3 4 5 6 7 8]

In [3]:
import pandas as pd

In [4]:
import pandas as pd
data = [20,30,40,50]
pd.Series(data)

0    20
1    30
2    40
3    50
dtype: int64

In [31]:
#Data Manipulation with Pandas

import numpy as np
import pandas as pd
df = pd.read_csv("Iris.csv") 
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [24]:
df.head() #for wanting first rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
df.head(10) #for wanting specific number of rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [11]:
df.tail() # for last rows

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [13]:
df["Species"]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [14]:
df.iloc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [15]:
df.iloc[4]

Id                         5
SepalLengthCm            5.0
SepalWidthCm             3.6
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 4, dtype: object

In [29]:
#\\filtering Data
df[df['PetalLengthCm'] > 1.5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
5,6,5.4,3.9,1.7,0.4,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica