In [ ]:
# PCA -> Customer Behaviour Online Platform 
# PCA -> Reduce Dimensionality
# Agenda -> Segment Customers to target marketing campaigns

In [2]:
import pandas as pd
# 5 customers, 5 features
data = pd.DataFrame({
    'Age': [32,60,45,32,31],
    'AnnualIncome': [400000, 50000, 40000, 200000, 600000],
    'SessionTime':[5,8,7,4,6],
    'NumItemPurchased':[3,6,7,2,8],
    'Rating':[4.2,4.8,5,4.1,4.9]
})

In [4]:
data

   Age  AnnualIncome  SessionTime  NumItemPurchased  Rating
0   32        400000            5                 3     4.2
1   60         50000            8                 6     4.8
2   45         40000            7                 7     5.0
3   32        200000            4                 2     4.1
4   31        600000            6                 8     4.9

In [14]:
# PCA -> sensitive to scale StandardScaler() - scales each column to mean = 0, std=1
# Data Standardization -> zero mean, unit variance

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
print(scaled_data)

[[-0.71044483  0.66024376 -0.70710678 -0.95025527 -1.06904497]
 [ 1.77611208 -0.96711762  1.41421356  0.34554737  0.53452248]
 [ 0.44402802 -1.01361366  0.70710678  0.77748158  1.06904497]
 [-0.71044483 -0.26967703 -1.41421356 -1.38218948 -1.33630621]
 [-0.79925044  1.59016456  0.          1.2094158   0.80178373]]

In [26]:
# Applying PCA
from sklearn.decomposition import PCA

pca = PCA(n_components = 2)
principal_components = pca.fit_transform(scaled_data)
principal_components

array([[-1.81814455, -0.06484462],
       [ 2.23964724, -1.08701888],
       [ 1.71252695, -0.15200706],
       [-2.27906228, -0.98504984],
       [ 0.14503264,  2.2889204 ]])

In [30]:
print(pca.explained_variance_ratio_)

[0.65878309 0.29673603]

In [34]:
result = pd.DataFrame(
   principal_components,
   columns = ['PC1','PC2'] 
)

print(result)

        PC1       PC2
0 -1.818145 -0.064845
1  2.239647 -1.087019
2  1.712527 -0.152007
3 -2.279062 -0.985050
4  0.145033  2.288920

In [ ]:
import matplotlib.pyplot as plt

plt.scatter